/*Variaveis Globais*/
:root {
  --white: #f1f1f1;
  --black: #000000;
}

/*Definir a tipografia*/
@font-face {
  font-family: InknutAntiqua;
  src: url(assets/fonts/InknutAntiqua-Light.ttf) format("ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: rgb(53, 82, 74);
}

/*Canvas P5js*/
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

a {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/*Barra de navegação*/
nav {
  margin: 2% 2% 0 2%;
  position: relative;
  width: 96%;
  height: 70px;
}

/*Barra de navegação (LINKS)*/
#contacts {
  position: absolute;
  top: 0;
  left: 0;

  width: 20%;
  transition: left 0.5s ease-out;

  border: 2px var(--white) solid;
  padding: 5px 10px;
}

#contactLinks {
  margin: 2% 2% 0 2%;
  display: none;
  align-items: end;
  flex-direction: column;

  width: 20%;

  position: fixed;
  top: 0;
  left: 2%;
}

#contactLinks > a {
  width: 100%;  
  border: 2px var(--white) solid;
  padding: 5px 10px;
  margin-bottom: 2%;
}
